<a href="https://colab.research.google.com/github/BData97/core-python/blob/main/literals_variables_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **python literals and** **variables**

In [ ]:
a=20
print(a)
type(a)

20

int

In [ ]:
b="hello wolrd"
print(b)
print(type(b))

hello wolrd
<class 'str'>

In [ ]:
c=120.5
print(c)
print(type(c))

120.5
<class 'float'>

***in order to add quotes in between the string we need to use another type of quotes for opening and closing the string***

In [ ]:

d="my freind's"
print(d)

my freind's

In [ ]:
list1=[1,2,3,"a","b","c",5.5,3.3,None,True]
print(list1)
print(type(list1))

[1, 2, 3, 'a', 'b', 'c', 5.5, 3.3, None, True]
<class 'list'>

In [ ]:
print(type(list1[2]))
print(type(list1[3]))
print(type(list1[6]))
print(type(list1[-1]))
print(type(list1[-2]))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [ ]:
list2=[[4,5,6],[1,2,3]]
print(list2)
print(list2[0])
print(list2[1])
print(list2[0][2])
print(list2[1][2])

[[4, 5, 6], [1, 2, 3]]
[4, 5, 6]
[1, 2, 3]
6
3

In [ ]:
list3=[1,2,3,4,5,6,7,8,9,10,11,12,13]
print(list3[::])
print(list3[0:3])
print(list3[0:])
print(list3[0:-1])
print(list3[:6])
print(list3[0:8:2])
print(list3[0:8:3])
print(list3[::-1])
print(list3[::-2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6]
[1, 3, 5, 7]
[1, 4, 7]
[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[13, 11, 9, 7, 5, 3, 1]

In [ ]:
tuple1=(1,2,3,4,5,5,"a","b","c",None,False)
print(tuple1)
print(tuple1[1])

(1, 2, 3, 4, 5, 5, 'a', 'b', 'c', None, False)
2

In [ ]:
set1={1,2,3,4,4,5,"a","c","d"}
print(set1)
print(type(set1))

{1, 2, 3, 4, 5, 'c', 'a', 'd'}
<class 'set'>

In [ ]:
dict1={'name':"bhushan","age":25,"status":"single"}
print(dict1)
dict2={'name':"bhushan","age":25,"status":"single","status":"married"}
print(dict2)

{'name': 'bhushan', 'age': 25, 'status': 'single'}
{'name': 'bhushan', 'age': 25, 'status': 'married'}

In [ ]:
a=True
b=False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>